
a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
    a:visited {
    color: #9c27b0;
  }
  
  a:hover {
    text-decoration: underline;
    color: #ff5722;
    background-color: #f0f0f0;
  }
  