/*1-------------------------------*/
p { 
    text-decoration: underline;
  }
/*2-------------------------------*/

a {
    text-decoration: none;
  }
  
/*3-------------------------------*/

h1 {
    text-decoration: overline;
  }
  
/*4--------------------------------*/

span {
    text-decoration: line-through;
  }
  
/*5-------------------------------*/

h2 {
    text-decoration: underline overline;
  }
  
/*6--------------------------------*/

a {
    text-decoration: underline dashed;
  }
  
/*7--------------------------------*/

p.warning {
    text-decoration: underline wavy red;
  }
  
/*8--------------------------------*/

nav a {
    text-transform: uppercase;
  }
  
/*9--------------------------------*/

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  